.app
  width 100%
  display flex
  padding 16px
  background-color #f4f4f9
  justify-content center

.content
  display flex
  max-width 1024px
  min-width 360px
  background #ffffff
  box-shadow 0 4px 8px rgba(0, 0, 0, 0.1)
  border-radius 8px
  width 100%
  flex-shrink 0